.select-container {
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 160px;
    height: 47px;
    border-radius: .5rem;
    padding: 0 .5rem;
    border: 1px solid #ced4da;
}

#select {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0 .4rem;
    width: 100%;
    text-align: center;
}
#select::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}

#select::-webkit-scrollbar-thumb{
    background-color: #c5c7c9;
    border-radius: .5rem;
}
