.profile-content{
    margin: auto;
    max-width: 360px;
    width: 100%;
}
.profile-content > .search {
    height: 56px;
}
.imageProfile{
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #D98C71;
    margin-bottom: 1rem;
    position: relative;
}
.imageProfile > #file{
    display: none;
}
.imageProfile > label {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
}
.imageProfile > label > svg{
    font-size: 1.6rem;
    color: #D98C71;
}
.profile-content > .search {
    margin-bottom: 1rem;
}
.profile-content > .btn > button {
    margin: auto;
}
.imageProfile{
    border-radius: 100%;
    background: transparent no-repeat center ;
    background-size: cover;
    border: .4rem solid #d98c71;
}