table {
    width: 100%;
    border-collapse: collapse;
    border-radius: .5rem;
}

table thead tr {
    border-bottom: 2px solid #DEE2E6;
}

table tr {
    border-bottom: 1px solid #EFF1F3;
    font-weight: bold;
}

table thead th {
    padding: 1rem;
    color: #7c7c7c;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
}
table tbody tr:hover {
    background: #EFF1F3;
}