.autocomplet-Container{
    width: 100%;
    position: relative;
}
.list-input {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: white;
    border: 1px solid #ced4da;
    min-width: 190px;
    max-width: 460px;
    max-height: 134px;
    margin-top: .5rem;
    border-radius: .5rem;
    overflow-y: auto;
}
.list-input::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.list-input::-webkit-scrollbar-thumb {
    background-color: #c5c7c9;
    border-radius: .5rem;
}
.list-input > li {
    width: 100%;
    min-width: 190px;
    max-width: 460px;
    height: 44px;
    padding: .6rem;
    cursor: pointer;
    color: #616161;
    font-size: .9rem;
    text-transform: uppercase;
    -webkit-user-select: none;
    border-bottom: 1px solid #ced4da;
}
.list-input > li:hover{
    background-color: #ced4da5b;;
}
